*{
  margin-inline: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.pfolio{
  max-height: 100vh;
  max-width: 100%;
  background-color:rgb(41, 42, 60);
}

.topp{
  height: 15vh;
  width: 70vw;
  margin: auto;
  background-color: rgb(41, 42, 60);
  /*background-size: 300px;*/
  place-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color:white;
  font-size: medium;
  text-align: center;
}

.topText{
  animation: slide-in 5s linear infinite;
  width: 100%;
}

.navbar{
  height: 10vh;
  background-color: rgb(41, 42, 60);
  justify-content: space-between;
  display: flex;
}

.btn{
  width: 120px;
  padding: 4px;
  margin-right: 16px;
  overflow: hidden;
  font-size: medium;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background-color: rgb(41, 42, 60);
  border: none;
  border-radius: 18px;
}

.btn:hover{
  width: 180px;
  height: 7vh;
  background-color: green;
  border-radius: 0px;
  cursor: pointer;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

#btn2{
  margin-left: 44px;
}

#btn2:hover{
  width: 180px;
  height: 7vh;
  background-color: rgb(255, 0, 0);
  border-radius: 0px;
  cursor: pointer;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.mainArea{
  height: 70vh;
  width: 100%;
  background-image: url("./assets/mainA.jpg");
  background-size: cover;
  overflow-y: scroll;
}

.main1{
  place-content: center;
  text-align: center;
  display: flex;
}

.main2{
  margin-top: 40px;
  place-content: center;
  text-align: center;
  display: block;
}

.mainleft{
  place-content: center;
  margin-top: 30px;
  width: 40%;
  height: 40vh;
  margin-inline: 0 auto;
  margin: auto;
  display: inline-block;
  color: white;
  font-size: 30px;
}

.mainright{
  width: 35%;
  height: 60vh;
  margin: auto;
  margin-top: 30px;
  place-content: center;
}

.name{
  height: 8vh;
  padding: 9px;
  margin-left: 5%;
  background-color: rgb(41, 42, 60);
  font-weight: bolder;
  font-size: larger;
  color: white;
}

.buttons{
  margin: auto;
  justify-items: flex-end;
}

#pic{
  height: 30vh;
  width: 260px;
  background-color: aqua;
  margin: auto;
  background-image: url(./assets/Pic2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
}

#desc{
  color: white;
  margin-top: 6%;
  font-weight: bold;
  letter-spacing: 1.2px;
}

#vres{
  height: 40px;
  width: 160px;
  border-radius: 8px;
  border:none;
  margin-top: 9%;
  margin-inline: auto;
  font-weight: bolder;
  background-color: rgb(59, 55, 74);
  color: white;
  font-size: medium;
}

#vres:hover{
  height: 60px;
  width: 240px;
  background-color: rgb(54, 20, 178);
  color: white;
  font-size: large;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 1.5s;
}

#hello{
  margin: 14px;
}
#intro::before{
  content: "";
  animation: typing 5s linear infinite;
  font-family: 'Rajdhani';
}
#intro::after{
  content: "|";
  animation: blink infinite alternate 0.3s;
}
#idd{
  margin: 14px;
}
#hireMe{
  height: 40px;
  width: 160px;
  border-radius: 8px;
  margin-top: 9%;
  margin:auto;
  font-weight: bolder;
  background-color: transparent;
  color: white;
  font-size: large;
}

#hireMe:hover{
  height: 60px;
  width: 200px;
  transition-duration: 1.5s;
  background: linear-gradient(rgb(18, 168, 7), rgb(177, 169, 169));
  border-color: rgb(18, 168, 7);
  color: rgb(255, 255, 255);
  font-size: large;
  cursor: pointer;
}

.namee{
  margin: auto;
}

.bottomm{
  height: 20vh;
  width: 100%;
  background-color: rgb(41, 42, 60);
  color: white;
  padding-top: 10px;
}

.connect{
  width: 70vw;
  height: 80px;
  margin: auto;
  place-content: center;
  text-align: center;
}

.connect .fa-brands{
  margin-top: 6px;
}

.fa-brands{
  font-size: 20px;
  padding-inline: 10px;
}

.fa-brands:hover{
  text-shadow: 14px;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#312b41, #ccc5cb);
  border-radius: 10px;
}

.boxes{
  margin: auto;
  padding: 20px;
  width: 45%;
  height: 60vh;
  text-align: center;
  place-content: center;
  margin-bottom: 80px;
  color: white;
  border-radius: 10px;
  background-color: rgb(41, 42, 60);
}

.bh1{
  margin-bottom: 30px;
}

.boxes .fa-brands{
  font-size: 70px;
  margin-bottom: 15px;
}

::-webkit-scrollbar{
  display: none;
}

@keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slide-in {
  from{
    margin-left: 100%;
  }
  to{
    margin-left: -100%;
  }
}

@keyframes typing{
  7% {content: "I"}
  14% {content: "I'"}
  21% {content: "I'm"}
  28% {content: "I'm "}
  35% {content: "I'm S"}
  42% {content: "I'm Sh"}
  49% {content: "I'm Sha"}
  56% {content: "I'm Shas"}
  63% {content: "I'm Shash"}
  70% {content: "I'm Shasha"}
  77% {content: "I'm Shashan"}
  84% {content: "I'm Shashank"}
}

@media only screen and (max-width: 480px){
  .topp{
    overflow-x: hidden;
    width: 100vw;
  }
  .topText{
    font-size: small;
    width: 100%;
  }
  .btn, #btn2{
    width: 60px;
    font-size: small;
    margin: 0 auto;
  }
  .btn:hover, #btn2:hover{
    height: 4vh;
    width: 60px;
    font-size: small;
    transition: none;
  }
  .mainArea{
    display: block;
    overflow-y: scroll;
    /*place-content: center;*/
  }
  .mainleft{
    width: 100%;
    height: 70vh;
    text-align: center;
    place-content: center;
  }
  .mainright{
    width: 100%;
    height: 70vh;
    text-align: center;
    place-content: center;
    padding-inline: 7.5%; 
  }
  .main1{
    display: block;
  }
  .main2{
    display: block;
  }
  .boxes{
    width: 70vw;
    height: 50vh;
  }
  .socials{
    display: flex;
    margin-left: 40px;
  }
  .boxes .skills{
    font-size: 20px;
  }
}